html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 250px;
  border-right: 1px solid #eee;
}

.content {
  padding: 20px;
}
